<!DOCTYPE html>
<html>
<head>
    <title>Tea.io - NLP Text Mining Dashboard</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@sgratzl/chartjs-chart-boxplot@4.4.1/build/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-box-and-violin-plot@4.0.0/build/Chart.BoxPlot.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>

    <!-- NAVIGATION BAR -->
    <div class="toolbar">
        <div class="toolbar__center">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="{% url 'text-mining' %}">Text Mining</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="{% url 'walkthrough' %}">Walkthrough</a>
            </li>
        </ul>
        </div>
    </div>

    <!-- SECTION 1 HEADER TEXT -->
    <h1>Exploratory Data Analysis</h1>
    <div class="home-p-container">
        <p>Tea.io is a dynamic, interactive, nlp dashboard that provides insights into software engineering and data science articles.</p>
        <p>Designed to explore trends and reader interests in these fields, the dashboard presents exploratory data analysis and text mining visualizations.</p>
        <p>Users can uncover patterns, popular topics, and article types that resonate most with audiences, making it a valuable tool for understanding content trends in tech and data science.</p>
    </div>

    <!-- SECTION 2 LINE CHART releases and claps over time -->
    <div class="container">
        <div class="chart-container">
            <h3>Articles published vs Claps received over time</h3>
            <button id="all-line">All Articles</button>
            <button id="tds-line">Towards Data Science</button>
            <button id="luc-line">Level Up Coding</button>
            <button id="tai-line">Towards AI</button>
            <button id="jr-line">Java Revisited</button>
            <button id="det-line">Data Engineer Things</button>
            <canvas id="line-chart" data-url="{{ releases_claps_by_week_url }}"></canvas>
        </div>
    </div>

    <!-- SECTION 3.0 -->
     <div class="container">
        <!-- SECTION 3.1 BAR+LINE CHART number of articles published vs total claps by day of week -->
        <div class="chart-container">
            <h3>Average Articles Published vs Claps by day of week</h3>
            <button id="all-bar-line">All Articles</button>
            <button id="tds-bar-line">Towards Data Science</button>
            <button id="luc-bar-line">Level Up Coding</button>
            <button id="tai-bar-line">Towards AI</button>
            <button id="jr-bar-line">Java Revisited</button>
            <button id="det-bar-line">Data Engineer Things</button>
            <canvas id="bar-line-chart" data-url="{{ releases_claps_by_day_url }}"></canvas>
            </div>
        <!-- SECTION 3.2 BOX CHART claps distribution per publisher-->
         <div class="chart-container">
            <h3>Claps Distribution</h3>
            <canvas id="box-chart" data-url="{{ claps_distribution_url }}"></canvas>
         </div>
    </div>
    <!-- SECTION 4.0 -->
    <div class="container">
        <!-- SECTION 4.1 DONUT CHART percentage of articles by publishers -->
        <div class="chart-container">
            <h3>Number of Articles Released</h3>
            <canvas id="donut-chart" data-url="{{ publisher_count_url }}"></canvas>
        </div>
        <!-- SECTION 4.2 BAR CHART number of unique authors per publisher -->
        <div class="chart-container">
            <h3>Number of Unique Authors per Publisher</h3>
            <canvas id="bar-chart" data-url="{{ nunique_authors_url }}"></canvas>
        </div>
    </div>

    <script src="{% static 'js/home.js' %}?v={{ STATIC_VERSION }}"></script>
    <script>
        console.log("STATIC_VERSION:", "{{ STATIC_VERSION }}");
    </script>
    
    <footer>
        <p>&copy; Joan Kusuma</p>
    </footer>
</body>
</html>