<!DOCTYPE html>
<html>
<head>
    <title>Teas.cafe - NLP Text Mining Dashboard</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@3.0.0/dist/chartjs-chart-treemap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>
    <div class="toolbar">
        <div class="toolbar__center">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link active" href="{% url 'text-mining' %}">Text Mining</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="{% url 'walkthrough' %}">Walkthrough</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
        </ul>
        </div>
    </div>

    <h1>Text Mining</h1>
    <p>Text mining is a natural language processing (NLP) technique used to extract patterns and insights from article text, revealing popular topics, keywords, and trends from a collection of documents.</p>
    <p>In this project, I explored bigrams, trigrams, and LDA topic modelling to uncover topics and article types that tend to generate higher engagements</p>
    <div class="home-p-container">
    </div>

    <!-- SECTION 1 BIGRAM -->
     <h2>Bigram</h2>
     <div class="container">
        <!-- SECTION 1.1 TABLE - bigram - all articles -->
        <div class="chart-container">
            <h3>All Articles</h3>
            <button id="all-table">All Articles</button>
            <button id="tds-table">Towards Data Science</button>
            <button id="luc-table">Level Up Coding</button>
            <button id="tai-table">Towards AI</button>
            <button id="jr-table">Java Revisited</button>
            <button id="det-table">Data Engineer Things</button>
            <div id="table-container" data-url="{{ bigram_url}}"></div>
        </div>
        <!-- SECTION 1.2 TREEMAP - bigram - above avg engagement articles-->
        <div class="chart-container">
            <h3>Most Engaging Articles</h3>
            <button id="all-bi-treemap">All Articles</button>
            <button id="tds-bi-treemap">Towards Data Science</button>
            <button id="luc-bi-treemap">Level Up Coding</button>
            <button id="tai-bi-treemap">Towards AI</button>
            <button id="jr-bi-treemap">Java Revisited</button>
            <button id="det-bi-treemap">Data Engineer Things</button>
            <canvas id="bigram-treemap" data-url="{{ above_avg_bigram_url }}"></canvas>
        </div>
    </div>

    <!-- SECTION 2 TRIGRAM -->
     <h2>Trigram</h2>
     <div class="container">
    <!-- SECTION 2.1 TABLE - Trigram - all articles -->
    <div class="chart-container">
        <h3> All Articles</h3>
        <button id="all-tri-table">All Articles</button>
        <button id="tds-tri-table">Towards Data Science</button>
        <button id="luc-tri-table">Level Up Coding</button>
        <button id="tai-tri-table">Towards AI</button>
        <button id="jr-tri-table">Java Revisited</button>
        <button id="det-tri-table">Data Engineer Things</button>
        <div id="tri-table-container" data-url="{{ trigram_url }}"></div>
    </div>
    <!-- SECTION 2.2 TREEMAP - Trigram - above avg engagement articles -->
    <div class="chart-container">
        <h3>Most Engaging Articles</h3>
        <button id="all-tri-treemap">All Articles</button>
        <button id="tds-tri-treemap">Towards Data Science</button>
        <button id="luc-tri-treemap">Level Up Coding</button>
        <button id="tai-tri-treemap">Towards AI</button>
        <button id="jr-tri-treemap">Java Revisited</button>
        <button id="det-tri-treemap">Data Engineer Things</button>
        <canvas id="trigram-treemap" data-url="{{ above_avg_trigram_url }}"></canvas>
        </div>
    </div>
    </div>

    <!-- SECTION 3 LDA -->
    <h2>LDA Topic Modelling</h2>
    <div class="container" id="lda-container">
        <div class="chart-container">
        <button id="all-lda">All Articles</button>
        <button id="tds-lda">Towards Data Science</button>
        <button id="luc-lda">Level Up Coding</button>
        <button id="tai-lda">Towards AI</button>
        <button id="jr-lda">Java Revisited</button>
        <button id="det-lda">Data Engineer Things</button>
        <div id="lda-visualization" data-url="{{ lda_url }}"></div>
        </div>
    </div>

    <!-- SECTION 4 ABOVE AVERAGE LDA -->
     <h2>LDA for Most Engaging Articles</h2>
    <div class="container" id="above-avg-lda-container">
        <div class="chart-container">
        <button id="all-abv-lda">All Articles</button>
        <button id="tds-abv-lda">Towards Data Science</button>
        <button id="luc-abv-lda">Level Up Coding</button>
        <button id="tai-abv-lda">Towards AI</button>
        <button id="jr-abv-lda">Java Revisited</button>
        <button id="det-abv-lda">Data Engineer Things</button>
        <div id="abv-lda-visualization" data-url="{{ above_avg_lda_url }}"></div>
        </div>
    </div>

    <script src="{% static 'js/textMining.js' %}?v={{ STATIC_VERSION }}"></script>
    <script>
        console.log("STATIC_VERSION:", "{{ STATIC_VERSION }}");
    </script>
    
    <footer>
        <p>&copy; Joan Kusuma</p>
    </footer>
</body>
</html>