<!DOCTYPE html>
<html>
<head>
    <title>Tea.io - NLP Text Mining Dashboard</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@3.0.0/dist/chartjs-chart-treemap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>
    <div class="toolbar">
        <div class="toolbar__center">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link active" href="{% url 'text-mining' %}">Text Mining</a>
            </li>
        </ul>
        </div>
    </div>

    <h1>Text Mining</h1>
    <div class="home-p-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>

    <!-- SECTION 1 BIGRAM -->
     <h2>Bigram</h2>
     <div class="container">
        <!-- SECTION 1.1 TABLE - bigram - all articles -->
        <div class="chart-container">
            <h3>All Articles</h3>
            <button id="all-table">All Articles</button>
            <button id="tds-table">Towards Data Science</button>
            <button id="luc-table">Level Up Coding</button>
            <button id="tai-table">Towards AI</button>
            <button id="jr-table">Java Revisited</button>
            <button id="det-table">Data Engineer Things</button>
            <div id="table-container" data-url="{{ bigram_url}}"></div>
        </div>
        <!-- SECTION 1.2 TREEMAP - bigram - above avg engagement articles-->
        <div class="chart-container">
            <h3>Above Average Engagement</h3>
            <button id="all-bi-treemap">All Articles</button>
            <button id="tds-bi-treemap">Towards Data Science</button>
            <button id="luc-bi-treemap">Level Up Coding</button>
            <button id="tai-bi-treemap">Towards AI</button>
            <button id="jr-bi-treemap">Java Revisited</button>
            <button id="det-bi-treemap">Data Engineer Things</button>
            <canvas id="bigram-treemap" data-url="{{ above_avg_bigram_url }}"></canvas>
        </div>
    </div>

    <!-- SECTION 2 TRIGRAM -->
     <h2>Trigram</h2>
     <div class="container">
    <!-- SECTION 2.1 TABLE - Trigram - all articles -->
    <div class="chart-container">
        <h3> All Articles</h3>
        <button id="all-tri-table">All Articles</button>
        <button id="tds-tri-table">Towards Data Science</button>
        <button id="luc-tri-table">Level Up Coding</button>
        <button id="tai-tri-table">Towards AI</button>
        <button id="jr-tri-table">Java Revisited</button>
        <button id="det-tri-table">Data Engineer Things</button>
        <div id="tri-table-container" data-url="{{ trigram_url }}"></div>
        </div>
    <!-- SECTION 2.2 TREEMAP - Trigram - above avg engagement articles -->
     </div>

    <!-- SECTION 3 LDA -->
    <script src="{% static 'js/textMining.js' %}?v={{ STATIC_VERSION }}"></script>
    <script>
        console.log("STATIC_VERSION:", "{{ STATIC_VERSION }}");
    </script>
    
</body>
</html>