<!DOCTYPE html>
<html>
<head>
    <title>Tea.io - NLP Text Mining Dashboard</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@sgratzl/chartjs-chart-boxplot@4.4.1/build/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-box-and-violin-plot@4.0.0/build/Chart.BoxPlot.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="toolbar">
        <div class="toolbar__center">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link active" href="{% url 'text-mining' %}">Text Mining</a>
            </li>
        </ul>
        </div>
    </div>
    <script src="{% static 'js/textMining.js' %}"></script>
</body>
</html>