<!DOCTYPE html>
<html>
<head>
    <title>Tea.io - NLP Text Mining Dashboard</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@3.0.0/dist/chartjs-chart-treemap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    <div class="toolbar">
        <div class="toolbar__center">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="{% url 'text-mining' %}">Text Mining</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link active" href="{% url 'walkthrough' %}">Walkthrough</a>
            </li>
        </ul>
        </div>
    </div>

    <h1>Walkthrough</h1>
    <p>xxx</p>

    <h2>LDA Topic Modelling Guide</h2>
    <div class="container">
        <div class="chart-container">
            <h3>LDA for all articles</h3>
            <img src="{% static 'images/lda-all.png' %}" alt="LDA Above Average" style="width: 750px; height: auto;">
        </div>
        <div class="chart-container">
            <h3>LDA for articles with higher engagement</h3>
            <img src="{% static 'images/lda-abv-avg.png' %}" alt="LDA Above Average" style="width: 750px; height: auto;">
        </div>
    </div>
    <div class="text-container">
        <h3>Comments</h3>
        <p>Take a look at the charts on the left above for LDA for all articles vs the one on the left for above average articles.</p>
        <p>The bubble chart on the left side of each image represents the top 5 identified topics from each image, when you click on any one, will show the most relevant terms for each topic</p>
        <p>Let's compare the top terms for topic 1 from each image, the image on the left for topic and terms of all articles, and the image on the left for articles with higher engagement</p>
        <p>Let's start with topic 1 for all articles, terms are mostly focused on programming skills and software engineering concepts, with more educational focus such as "guide", "tips" and emphasis on general knowledge such as "essential", "explained", and "interview"</p>
        <p>Now, take a look at topic 1 for articles with higher engagement, some similarities do occur, but the emphasis is more on specific topics, for example, "ai", "llms", "machine", "learning", and "rag". The topic also has fewer terms related to general education or instructional content compared to the previous topic, for example, "advanced", "system", "design".</p>
        <p>The topic for all articles represents articles that are most often written, and the topic for higher engagement articles represents article that readers tend to engage more with.</p>
        <p>Clicking on the publisher button would show the result for each publisher and more focused results.</p>
    </div>
    <!--Image-->

    <footer>
        <p>&copy; Joan Kusuma</p>
    </footer>
</body>
</html>